@media screen and (min-width: 800px) {

    main {
        position: relative;
    }

    .data {
        position: absolute;
        top: 30px;
        left: 30px;
        width: 260px;
        background: rgba(255, 255, 255, 0.9);
    }

    .weather {
        position: absolute;
        bottom: 30px;
        right: 30px;
        width: 240px;
        background: rgba(255, 255, 255, 0.9);
    }

    .weather h2::after {
        content: " ⛅";
    }

    .weather img {
        display: none;
    }
}